<div class="container-fluid">
<div class="row text-center  text-white " >
  <div class=" py-2 " style=" background-color: #304053; "><a href="#" class=" text-light text-decoration-none">Back To Top</a></div>
</div>

<div class="row  d-flex justify-content-center py-5" style=" background-color: #232F3E; ">
    <div class="col-lg-2 "></div>
    <div class="col-lg-2 col-md-3 col-sm-5 text-center">
        <h5 class="text-uppercase mb-2 text-light font-weight-bold">Get to Know Us</h5>
        <a href="#" class=" text-light text-decoration-none fs-6">About Amazon</a><br>
        <a href="#" class=" text-light text-decoration-none fs-6">Careers</a><br>
        <a href="#" class="text-light text-decoration-none fs-6">Amazon Sciencs</a><br>
    </div>
    <hr class="w-100 clearfix d-md-none text-light mt-3" />
    <div class="col-lg-2 col-md-3 col-sm-5 text-center">
      <h5 class="text-uppercase mb-2 text-light font-weight-bold">Shop With Us</h5>
        <a href="#" class="text-light text-decoration-none">Your Account</a><br>
        <a href="#" class="text-light text-decoration-none">Your Orders</a><br>
        <a href="#" class="text-light text-decoration-none">Your Addresses</a><br>
        <a href="#" class="text-light text-decoration-none">Your Lists</a><br>
    </div>
    <hr class="w-100 clearfix d-md-none text-light mt-3" />
    <div class="col-lg-2 col-md-3 col-sm-5    text-center">
        <h5 class="text-uppercase mb-2 text-light font-weight-bold">Make Money with Us</h5>
        <a href="#" class="text-light text-decoration-none">Protect and build your brand</a><br>
        <a href="#" class="text-light  text-decoration-none">Advertise Your Products</a><br>
        <a href="#" class="text-light text-decoration-none">Sell on Amazon</a><br>
        <a href="#" class="text-light text-decoration-none">Fulfillment by Amazon</a><br>
    </div>
    <hr class="w-100 clearfix d-md-none text-light mt-3 "/>
    <div class="col-lg-2 col-md-3 col-sm-5     text-center">
      <h5 class="text-uppercase mb-2 text-light font-weight-bold">Let Us Help You</h5>
      <a href="#" class="text-light text-decoration-none">Help</a><br>
      <a href="#" class="text-light text-decoration-none">Shipping & Delivery</a><br>
      <a href="#" class="text-light text-decoration-none">Returns & Replacements</a><br>
      <a href="#" class="text-light text-decoration-none">Amazon App Download</a><br>
    </div>
    <div class="col-lg-2 "></div>

</div>
<div class="row  d-flex justify-content-center py-1" style=" background-color: #232F3E; ">
<hr class="text-light mb-0">
</div>
<div class="row  d-flex  justify-content-center py-3" style=" background-color: #232F3E; ">
  <div class=" d-flex  justify-content-center w-50 ">
<img src="assets/amazon-logo.png" width="100vh" alt="">
  </div></div>
<div class="row  d-flex justify-content-center py-5 px-5 " style=" background-color: #18222e; ">

  <a class="col-lg-2 col-md-3 col-sm-4  text-light text-decoration-none text-center">
    <span href="#" class="">Amazon Advertising</span><br>
    <span href="#" class="">Find, attract, and engage customers</span><br>

  </a>
  <a class="col-lg-2 col-md-3 col-sm-4 d-none d-md-inline-block  text-light text-decoration-none text-center">
    <span href="#" class="">Amazon Advertising</span><br>
    <span href="#" class="">Find, attract, and engage customers</span><br>

  </a>
  <a class="col-lg-2 col-md-3 col-sm-4 d-none d-md-inline-block  text-light text-decoration-none text-center">
    <span href="#" class="">Amazon Advertising</span><br>
    <span href="#" class="">Find, attract, and engage customers</span><br>

  </a>
  <a class="col-lg-2 col-md-3 d-none d-md-inline-block   text-light text-decoration-none text-center">
    <span href="#" class="">Amazon Advertising</span><br>
    <span href="#" class="">Find, attract, and engage customers</span><br>

  </a>
  <a class="col-lg-2 d-none   d-lg-inline-block text-light text-decoration-none text-center">
    <span href="#" class="">Amazon Advertising</span><br>
    <span href="#" class="">Find, attract, and engage customers</span><br>

  </a>
</div>
<div class="row text-decoration-none d-flex justify-content-center text-light px-5 pb-5 " style=" background-color: #18222e; ">
<div class="col d-sm-flex justify-content-center d-none "><a  >Conditions of Use & Sale</a>&nbsp;&nbsp;&nbsp;&nbsp;<a >Privacy Notice</a>&nbsp;&nbsp;&nbsp;&nbsp; <a >Interest-Based Ads</a> </div>
<span class=" d-flex justify-content-center">©1996-2023, Amazon.com, Inc. or its affiliates</span>
</div>

</div>





